@tailwind base;
@tailwind components;
@tailwind utilities;
.cursive {
  font-family: "Engagement", cursive;
  
}
.ani{
  opacity: 0;
  animation: slideFadeIn 1.5s ease-out forwards;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}
.ani1{
  opacity: 0;
  animation: slideFade 2.5s ease-out forwards;
}

@keyframes slideFade {
  0%,30% {
    opacity: 0;
    transform: translateY(+50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}
.ani2{
  opacity: 0;
  animation: slideFade2 4.5s ease-out forwards;
}

@keyframes slideFade2 {
  0%, 50% {
    opacity: 0;
    transform: translateY(+50px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

*{
  font-family: 'PT Serif', serif;
}
img {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  object-fit: cover;
  z-index: -1;
  transition: opacity 1s ease-in-out;
}

hr{
    width: 20vw;
}



.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-top: 20vh;
  font-size: 30px;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 3px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #ffffff;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.5rem 0 0.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}


.show-counter .countdown > p {
  margin: 0;
  padding: 10px;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-family: 'Pixelify Sans', cursive;
  font-size: 1rem;
  line-height: 1rem;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(251, 208, 208, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  transition: opacity 1s ease, transform 1s ease; 
  transform-origin: center center; 
  transform: scale(0); 
}

.loading-overlay.visible {
  opacity: 1; 
  transform: scale(1); 
}

.loading-overlay.hidden {
  opacity: 0; 
  transform: scale(0); 
  pointer-events: none; 
}